name: Build Mesa Turnip Driver

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            ninja-build \
            pkg-config \
            python3-pip \
            python3-mako \
            glslang-tools \
            flex \
            bison \
            unzip \
            curl \
            meson \
            autoconf \
            automake \
            libtool \
            gettext

      - name: Cache NDK
        uses: actions/cache@v4
        with:
          path: workdir/android-ndk-r27d
          key: android-ndk-r27d

      - name: Build Turnip
        run: |
          chmod +x scripts/build-turnip.sh
          scripts/build-turnip.sh

      - name: Package
        run: |
          cd out
          zip -9 turnip-adrenotools.zip vulkan.ad07xx.so meta.json

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: turnip-${{ github.run_number }}
          name: Mesa Turnip Driver
          files: out/turnip-adrenotools.zip
